<div class="mx-auto right mb-15">
    <button class="btn mr-10" (click)="showCards()" [ngClass]="{'btn-info': typeToShow === 'cards'}">
      show-cards
    </button>
    <button class="btn" (click)="showTable()" [ngClass]="{'btn-info': typeToShow === 'table'}">
      show-list
    </button>
  </div>


<ng-container *ngIf="typeToShow === 'cards'">
  <app-todo-item-card [todoItem]="data" (todoDelete)="deleteTodo($event)" (todoEdit)="setTodoForEdit($event)">
  </app-todo-item-card>
</ng-container>

<ng-container *ngIf="typeToShow === 'table'">
  <ul class="list-group mb-3">
    <app-todo-item-list *ngFor="let todo of data; trackBy: trackByFn" [todoItem]="todo"
      (todoDelete)="deleteTodo($event)" (todoComplete)="todoItemEdit ($event)" (editClick)="setTodoForEdit($event)">
    </app-todo-item-list>
  </ul>
</ng-container>

  <!-- <ng-container *ngIf="typeToShow === 'table'">
    <app-list [tableRef]="tableRef" [data]="data">
    </app-list>
  </ng-container>
  <ng-container *ngIf="typeToShow === 'cards'">
    <app-card [cardRef]="cardRef" [data]="data"></app-card>
  </ng-container> -->
  